%q400 {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

%q500 {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

%q700 {
  font-family: "Quicksand-Bold", sans-serif;
  font-weight: 700;
}

%r400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%r500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

%r700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
